<md-toolbar layout="row" class="md-hue-2">
	<div class="md-toolbar-tools">
		<!-- <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Settings" hide-gt-sm ng-click="headerCtrl.toggleList()"> -->
		<button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Settings" ng-click="headerCtrl.toggleList()">
	    	<i class="material-icons">menu</i>
	    </button>
	    <button class="md-icon-button md-button md-ink-ripple" type="button"aria-label="Search">
        	<i class="material-icons">pets</i>
        </button>
		<h2> Shop Bunny </h2>
		<span flex="" class="flex"></span>
		<button class="md-icon-button md-button md-ink-ripple" type="button"aria-label="Search" ng-click="headerCtrl.toggleSearch()">
        	<i class="material-icons">search</i>
        </button>
        <button class="md-icon-button md-button md-ink-ripple" type="button"aria-label="Shopping" ng-click="headerCtrl.showCart()">
			<i class="material-icons">shopping_cart</i>
        </button>
        <button class="md-icon-button md-button md-ink-ripple" type="button"aria-label="Notification" ng-click="headerCtrl.showNotifications()">
			<i class="material-icons">notifications</i>
        </button>
        <button class="md-icon-button md-button md-ink-ripple" type="button"aria-label="Search" ng-click="headerCtrl.showLocation()">
			<i class="material-icons">place</i>
        </button>
	</div>
</md-toolbar>